/* Global Styling goes here */

html {
    margin-top: 200px;
    color: rgb(41, 16, 184);
}

header {
      background-color: rgb(0,0,0);
      top: 0;
      position: fixed;
      width: 100%;
    }

    #sysoimg {
        float: left;
        width: 15%;
        height: 10%;
        margin-top: 0;
    }

    #nav {
        width: 100%;
        background-color: #677474;
        color: white;
        font-size: medium;
        font-family: 'Helvetica', sans-serif;
    }

    /*      text-shadow: 1px 1px 2px #033;*/