/* Global Styling goes here */

/* Style reset - removes browser-based defaults */

html, body, div, span, header, footer, img, h1, p, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
}

/* High-level containers */

html {
    color: rgb(41, 16, 184);
    width: 100%;
    height: 100%;
}

body{
    width: inherit;
    height: inherit;
}

.sysoHeader{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0px;
    z-index: 1
}

.sysoFooter{
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

.sysoContentMaster{
    width: 100%;
    height: 90%;
    margin-top: 10vh;
}

.sysoMenuMaster{
    display: none;
    width: 100%;
    height: 90%;
    padding-top: 10vh;
}

/* Responsive containers */

.sysoLogo{
    width: 10vh;
    height: 10vh;
    float: left;
}

.sysoText{
    width: 30%;
    height: 10vh;
    float: left;
}

.sysoHamburger{
    width: 10vh;
    height: 10vh;
    float: right;
}

.sysoBox{
    width: 100%;
}

.sysoBoxFlex{
    height: 100%;
}

.sysoContent{
    vertical-align: top;
    overflow: hidden;
    float: left;
    height: 100%;
}

.sysoContent100{
    width: 100%;
}

.sysoContent50{
    width: 50%;
}

.sysoContent33{
    width: 33.3%;
}

.sysoPortrait{
    display: none;
}

/* Portrait mode detection and styles */

@media all and (orientation: portrait){
    .sysoText{
        display: none;
    }
    .sysoBoxFlex{
        height: initial;
    }
    .sysoContent{
        display: block;
        vertical-align: initial;
        overflow: initial;
        float: initial;
        height: initial;
    }
    .sysoContent33{
        width: 100%;
    }
    .sysoContent50{
        width: 100%;
    }
    .sysoContent100{
        width: 100%;
    }
    .sysoPortrait{
        display: block;
        height: 10vh;
    }
}


/*
header {
    background-color: purple;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 15%;
    }

#logo {
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    background-color: white;
    }

#sysoimg {
    float: left;
    height: 100%;
    top: 0;
    left: 0;
    }

#navBar {
    width: 100%;
    height: 30%;
    position: absolute;
    background-color: #677474;
    }

#navBar a:link, a:visited {
    display: inline-block;
    color: white;
    font-size: medium;
    font-family: 'Helvetica', sans-serif;
    float: right;
    text-decoration: none;
    margin: 5px;
}

#navBar a:hover, a:active {
    color: #012e33;
}


#landingBox{
    padding: 5%;
    font-family: sans-serif;
    text-align: center;
    height: 80%;
}

#temporaryBox{
    padding: 15%;
    font-family: sans-serif;
    text-align: center;
}

#welcomeBox{
    display: inline-block;
    width: 45%;
    height: 80%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    background-image: url(../images/stock.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
}

#welcomeTitle{
    position: relative;
    top: 15px;
}

#actionBox{
    display: inline-block;
    width: 44%;
    height: 80%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: #677474;
}

#actionContentBox{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a.wpLink{
    display: block;
    width: 20%;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 10px;
    background-color: #f47588;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
}

a.wpLink:hover{
    background-color: #ec596e;
}

footer {
    width: 100%;
    height: 5%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #677474;
    color: white;
    font-size: small;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    }

#footer {
    margin: 10px;
}

#logoutLink {
    color: rgb(11, 149, 241);
}

*/