/* Global Styling goes here */

/* Style reset - removes browser-based defaults */

html, body, div, span, header, footer, img, h1, p, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
}

/* High-level containers */

html {
    color: #333333;
    width: 100%;
    height: 90%;
    font-family: 'Helvetica', sans-serif;
    /* Keeps the scrollbar present on hamburger click */
    overflow-y: scroll;
}
body{
    width: inherit;
    height: inherit;
}
.sysoHeader{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: #f47588;
}
.sysoFooter{
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: #677474;
    color: white;
    font-size: small;
    text-align: center;
}
.sysoContentMaster{
    width: 100%;
    height: 90%;
    margin-top: 10vh;
}
.sysoMenuMaster{
    display: none;
    width: 100%;
    height: 90%;
    padding-top: 10vh;
}

/* Responsive containers */

.sysoLogo{
    width: 10vh;
    height: 10vh;
    float: left;
    background-image: url("../images/sysoLogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sysoTitle{
    height: 10vh;
    float: left;
}
.sysoHamburger{
    width: 10vh;
    height: 10vh;
    float: right;
    background-image: url("../images/sysoHamburger.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.sysoBox{
    width: 100%;
}
.sysoBoxFlex{
    height: 100%;
}
.sysoContent{
    vertical-align: top;
    overflow: hidden;
    float: left;
    height: 100%;
}
.sysoContent100{
    width: 100%;
}
.sysoContent50{
    width: 50%;
}
.sysoContent33{
    width: 33.3%;
}
.sysoPortrait{
    display: block;
    height: 10vh;
}

/* Portrait mode detection and styles */

@media all and (orientation: portrait){
    .sysoTitle{
        display: none;
    }
    .sysoBoxFlex{
        height: initial;
    }
    .sysoContent{
        display: block;
        vertical-align: initial;
        overflow: initial;
        float: initial;
        height: initial;
    }
    .sysoContent33{
        width: 100%;
    }
    .sysoContent50{
        width: 100%;
    }
    .sysoContent100{
        width: 100%;
    }
}

/* Miscellaneous content control */

.sysoNoScroll{
    overflow: hidden;
}
#sysoHomeLink{
    display: block;
    width: 100%;
    height: 100%;
}

/* Titlebar (logo, hamburger menu items) */

#sysoTitle{
    height: 100%;
}

/* Constant styling */

button{
    display: block;
    width: 10%;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 5px;
    background-color: #f47588;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    font-family: 'Helvetica', sans-serif;
    font-size: medium;
    border-color: #f47588;
    border-style: solid;
}

button:hover{
    background-color: #ec596e;
}

.sysoContent50 button{
    width: 20%;
}

input{
    width: 20%;
    padding: 5px;
}

input:focus{
    outline-color: #012e33;
}

/* Landing page content */

a.wpLink{
    display: block;
    width: 20%;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 10px;
    background-color: #f47588;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

a.wpLink:hover{
    background-color: #ec596e;
}

#welcomeBox{
    display: inline-block;
    padding-top: 2%;
    background-image: url(../images/stockText.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

#landing{
    vertical-align: middle;
    padding-top: 15vh;
    
}

#landing p{
    margin-top: 2.5%;
    color: #012e33;
    font-family: 'Crete Round', serif;
    font-size: large;
    text-align: center;
}

/* Signin page content */

#signin{
    position: relative;
    margin-top: 20vh;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    color: #012e33;
}

#signin h1{
    font-size: x-large;
}

#email, #password{
    margin-top: 2.5vh;
}

#signin checkbox{
    margin-top: 2.5vh;
    font-size: smaller;
}

#forgotten{
    color: #012e33;
}


/* Footer content */

#sysoFooterText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}